DEVICE_CODENAME="gta7litewifi"
KERNEL_SOURCE="${HOME}/nethunter-sm-t220/kernel-source"
ARCH="arm64"
CROSS_COMPILE="aarch64-linux-gnu-"
DEFCONFIG="gta7litewifi_defconfig"
THREADS=$(nproc)
OUTPUT_DIR="${HOME}/nethunter-sm-t220/kernel-output"
KDIR="${HOME}/nethunter-sm-t220/kernel-source"
CC="clang"
CLANG_TRIPLE="aarch64-linux-gnu-"
NDK_PATH="${HOME}/android-ndk-r27c/toolchains/llvm/prebuilt/linux-x86_64/bin"
SKIP_KCONFIG_CHECKS="y"
